<div class = "headerContainer">
  <div class="header" data-role="header" data-position = "fixed">
   
       
    <h1 onClick="document.location.href = '/'" style="float:" >
     DiseaseApp
    </h1>
 

  </div><!-- /header -->
 </div>
 
